<table class="table">
  <thead>
    <tr>
      <th>ID </th>
      <th>FIRST NAME </th>
      <th>LAST NAME </th>
      <th>EMAIL </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @member.each do |x| %>
    <tr>
      <td><div><%= link_to "#{x.id}", member_path(x) %></div></td>
      <td><div><%= x.first_name %></div></td>
      <td><div><%= x.last_name %></div></td>
      <td><div><%= x.email %></div></td>
      
      <td><div><%= %></div></td>
    </tr>
    <% end %>
  </tbody>
</table>
